@model IEnumerable <VisaPortal.ServiceDOLAgency.Agencies>

@{
    ViewBag.Title = "Visitor Visa";
}

<h2>Index</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Agency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgencyFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationalURL)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Agency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgencyFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationalURL)
            </td>
        </tr>
    }

</table>

@*<div>
    @{
        var grid = new WebGrid(@Model);
    }
    @grid.GetHtml()
</div>*@
